# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

#openplug
rsc-debug/
resources/
extensions/
locales/
output/
resources/
rsc-debug/
extensionsoutput.swf